/* #region reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{
    display: block;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea { font-family: inherit; }

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/* #endregion */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}

section {
    height: 800px;
}
/* #region header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    font-size: 48px;
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__title {
    margin-top: 40px;
    font-weight: 800;
    font-style: Italic;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;
 
}
/* #endregion */
/* #region menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    background-color: #E8EFF9;
    height: 100vh;
    box-sizing: border-box;
    padding: 64px 120px;
}

.menu:target {
    transform: translateX(0);    
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
/* #endregion */
/* #region menu nav */
.menu__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menu__link {
    color: #292929;
    text-decoration: none;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
}

a:hover{
    text-decoration: underline;
}
/* #endregion */

.main {
    padding: 120px;
}
/* #region recommended */
.recommended{
    margin-bottom: 120px;
}

.recommended__title {
    margin-bottom: 64px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
}

.recommended__products {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product__photo {
    width: 100%;
    margin-bottom: 32px;
}

.product__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 0px;
}

.product__category {
    margin-bottom: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.product__price {
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 0px;
}
/* #endregion */
/* #region categories */
.categories__title {
    margin-bottom: 64px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
}
/* #endregion */
/* #region how-to-buy */
.how-to-buy__title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
}
/* #endregion */